/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Didact+Gothic&family=Poiret+One&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Rationale', sans-serif; */
  scroll-behavior: smooth;
}

body {
  background: #1f242d;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  font-family: 'Poiret One', sans-serif;
}

.logo kw {
  color: #0080ff;
  font-family: 'Bai Jamjuree', sans-serif;
}


.navbar a {
  display: inline-block; /*makes move up animation like showing off from a bit lower part of the screen*/
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 13px; /*35px;*/
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
  font-family: 'Didact Gothic', sans-serif;
}

.navbar a:hover,
.navbar a.active {
  color: #3399ff;
}

.home {
  position: relative;
  width: 100%;
  height: 92vh; /*adjust for footer inclusion*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px; /*adjust to what extent the text go to the right*/
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
  font-family: 'Didact Gothic', sans-serif;

}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3 span {
  color: #3399ff; /*#0ef*/
}

.home-content h1 {
  font-size: 56px; /*base was 56px*/
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  font-family: 'Poiret One', sans-serif;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #3399ff;
  border-radius: 50%;
  font-size: 20px;
  color: #3399ff;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));

}

.social-media a:hover {
  background: #3399ff;
  color: #1f242d;
  box-shadow: 0 0 20px #3399ff;
}


.footer {
  background: transparent;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poiret One', sans-serif;
}

.footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

.footer .text span kw {
  color: #0080ff;
  font-family: 'Bai Jamjuree', sans-serif;
}


/* keyframes animation */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
